version: '3.9'
env_file: .env
services:
  frontend:
    build:
      context: ./riskgps_frontend
      dockerfile: Dockerfile
    volumes:
      - ./riskgps_frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    working_dir: /app
    depends_on:
      - backend

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "3000:3001"
    working_dir: /app
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
