version: "3.8"

services:
  frontend:
    image: ${FRONTEND_IMAGE_url}:${IMAGE_TAG}
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    expose:
      - "3000" # Internal communication only
    depends_on:
      - backend
    networks:
      - webnet
    restart: unless-stopped

  backend:
    image: ${BACKEND_IMAGE_url}:${IMAGE_TAG}
    expose:
      - "8000" # Internal communication only
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - webnet
    restart: unless-stopped

  db:
    image: postgres:15
    restart: unless-stopped
    expose:
      - "5432" # Internal communication only
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - webnet
    restart: unless-stopped

volumes:
  pgdata:

networks:
  webnet:
    driver: bridge
