services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    # volumes:
    #   - ./frontend:/app
    #   - /app/node_modules
    ports:
      - "3000:3000"
    # working_dir: /app
    depends_on:
      - backend
    networks:
      - webnet

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    # volumes:
    #   - ./backend:/app
    #   - /app/node_modules
    ports:
      - "8000:8000"
    # working_dir: /app
    depends_on:
      - db
    networks:
      - webnet
  

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      # - frontend
      # - backend
    networks:
      - webnet
  
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet


volumes:
  pgdata:

networks:
  webnet:
